.pioenvs
.clang_complete
.gcc-flags.json
hw/3D/hobbyLights.emn
hw/3D/hobbyLights.emp
hw/BOM/BOM.txt
hw/BOM/hobbyLights.csv
hw/BOM/hobbyLights.xls
hw/datasheets/10118192-793027.pdf
hw/datasheets/AP3012-271556.pdf
hw/datasheets/BD48xxxBD49xxx-216555.pdf
hw/datasheets/FAN4860-336167.pdf
hw/datasheets/MCP73831.pdf
hw/datasheets/ModelRef.pdf
hw/datasheets/NCP1402-D-85406.pdf
hw/datasheets/RN3015-778046.pdf
hw/datasheets/tps61222-ep-454916.pdf
hw/datasheets/tps61241-408049.pdf
hw/gerbers/hobbyLights_RevA.zip
hw/hobbyLights.b#1
hw/hobbyLights.b#2
hw/hobbyLights.b#3
hw/hobbyLights.s#1
hw/hobbyLights.s#2
